flask==3.0.3
Flask-WTF==1.2.2
gunicorn==22.0.0
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
openpyxl
xlrd
pandas
reportlab
pypdf
Pillow
google-api-python-client
google-auth
google-auth-httplib2
boto3==1.40.45
